header {
    position: fixed;
    max-width: 1528px;
    width: 100%;
    height: 90px;
}

* {
    margin: 0;
    padding: 0;
}

.topHeader {
    display: flex;
    align-items: center;
    justify-content:first baseline;
    background-color: #3b3b3b;
    width: 100%;
    height: 43px;
}

.topHeader img {
    width: 251px;
    height: 40px;
    margin-left: 0%;
}

.datetime {
    color:#d6d6d6;
    margin-left: 20px;
}

.datetime span {
    padding: 0 5px;
}

.running-text {
    color: #dfdfdf;
    display: flex;
    flex-grow: 1;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
  }

.running-text div {
    width:100%;
    display:inline-block;
    position: relative;
    animation: running-text 10s linear infinite;
}

@keyframes running-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.topHeader .btn-primary {
    height:20px;
    width:93px;
    margin: 0 0 0 4px;
    background-color:#185ba8;
    color:#fff;
}

.botHeader {
    display: flex;
    align-items: flex-end;
    background-color: #232323;
    width: 100%;
    height: 37px;
    z-index: 2;
}

.botHeader .btnHnx {
    background-color: #3b3b3b;
    align-items:flex;
    color: #fff;
    height: 30px;
    width: 60px;
    margin-left: 5px;
    margin-bottom: 0;
    z-index: 2;
}

.btnHnx:hover {
    background-color: #185ba8;  
}

.botHeader .dropdown {
    background-color: #3b3b3b;
    align-items: center;
    list-style-type: none;
    height: 30px;
    width: 60px;
    margin-right: 4px;
    z-index: 2;
  }
  
.botHeader .dropdown:hover {
    background-color: #185ba8; 
  }
  
.dropdown-item {
    background-color: #3b3b3b;
    display:list-item;
    color-scheme: #fff;
    height: 30px;
    width: 60px;
    z-index: 2;
  }
  
.dropdown-item:hover {
  background-color: #185ba8;
}