table {
  width: 1943px;
  border-collapse: collapse;
  font-size: 12px;
}

thead {
  margin-top: 80px;
  display: table-cell;
  position: fixed;
  color:#fff;
  background: rgba(30, 30, 30, 0.85);
  box-shadow: 0 4px 10px rgb(0 0 0 / 40%);
}

th {
  border: 1px solid #fff;
  padding: 0 3px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.symbol {
  width: 55.29px;
  height: 58px;
}

.reference {
  width: 55.29px;
  height: 58px;
}

.ceil {
  width: 55.29px;
  height: 58px;
}

.floor {
  width: 55.29px;
  height: 58px;
}

.bid {
  width: 331.74px;
  height: 29px;
}

.matched {
  width: 165.87px;
  height: 29px;
}

.ask {
  width: 331.74px;
  height: 29px;
}

.t-vol {
  width: 110.58px;
  height: 58px;
}

.prices {
  width: 165.87px;
  height: 29px;
}

.remain {
  width: 110.58px;
  height: 29px;
}

.foreign {
  width: 110.58px;
  height: 29px;
}

tbody {
  display: table;
  background-color: #3b3b3b;
  color: #fff;
}
